<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>The Tech Blog</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>

  <body>
    <div class='wrapper'>
      <header>
        <nav>
          <a href='/' class='nav-item'>Home</a>
          {{#if loggedIn}}
            <a href='/dashboard' class='nav-item'>Dashboard</a>
            <a href="#" id="logout" class="nav-item logout">Logout</a>
          {{else}}
            <a href='/login' class='nav-item'>Login</a>
          {{/if}}
        </nav>

      </header>
      <div class='homeRow'>
        <div class='homeName'>
          <h1>The Tech Blog</h1>
        </div>
      </div>
      <main>
        {{{body}}}
      </main>
    </div>

    {{#if loggedIn}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>

</html>