<section class="newPostSection">
    <button type="submit" class="btn" id="createNewPost">+ Create new post</button>
</section>


{{#if posts.length}}
<section>
    <h1>Welcome to Your Dashboard, {{user.username}}!</h1>
    <h2>Your Posts</h2>
    <ul class="postList">
        {{#each posts as |post|}}
        <li>
            {{> postContent post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">edit post</a>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p>You haven't created any blog posts yet. <a href="/dashboard/newPost">Create one now</a></p>
</section>
{{/if}}

    <script src='/js/createPost.js'></script>
