<div class='loginPage'>
  <div class='formHeading'>
    <h2>Login</h2>
  </div>
  <form class='loginForm'>
    <div class='formGroup'>
      <label for='username-login'>Username:</label>
      <input class='formInput' type='text' id='usernameLogin' />
    </div>
    <div class='formGroup'>
      <label for='password-login'>Password:</label>
      <input class='formInput' type='password' id='passwordLogin' />
    </div>
    <div class='formGroup'>
      <button class='loginBtn' type='submit'>Login</button>
    </div>
  </form>
</div>

<a href='/signup' class='link'>Sign up instead</a>

<script src='/js/login.js'></script>