<div class="formHeading">
    <h2>Signup</h2>
</div>
    <form class="signupForm">
      <div class="formGroup">
        <label for="username-signup">Username:</label>
        <input class="formInput" type="text" id="usernameSignup" />
      </div>
      <div class="formGroup">
        <label for="email-signup">Email:</label>
        <input class="formInput" type="text" id="emailSignup" />
      </div>
      <div class="formGroup">
        <label for="password-signup">Password:</label>
        <input class="formInput" type="password" id="passwordSignup" />
      </div>
      <div class="formGroup">
        <button class="signupBtn" type="submit">Signup</button>
      </div>
    </form>
<a href="/login" class="link">Log in instead</a>
  </div>
</div>

<script src="/js/signup.js"></script>